body {
	background: #9b9b9b;
	color: #ffffff;
	font-size:medium;
	font-family: Verdana;
}
label.inset100 {
	width:100px;	
}
p{
	margin-top:0px;
}
form {
	background: #8d8d8d;
	border:solid #4e4e4e 1px;
	padding-top:10px;
}
fieldset {
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom-color:#4e4e4e;
	border-bottom-style:solid;
	border-bottom-width:1px;
	margin-left:10px;
	margin-right:10px;
	margin-top:0px;
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:10px;
}
input.large {
	width:490px;
	background: #545454 !important;
}
legend {
	color:#000000;
	font-weight:bold;
	font-size:small;
}
legend.open {
	cursor:pointer;
	background-image:url(images/open.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	padding-left:16px;
}
legend.close {
	cursor:pointer;
	background-image:url(images/close.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	padding-left:16px;
}
input {
	margin-top:3px;
}
label {
	width:150px;
	float:left;
}

input, select {
	background: #515151;
	background-image: url(images/input.png);
	color:#ffffff;
	border-width:1px;
	border-color:#000000;
	border-style:solid;
}
table {
	background-color:#8d8d8d;
	border:#000000 solid 1px;
}
table tbody a {
	color:#ffffff;
}
caption{
	background:#000000;
}
th {
	font-weight:bold;
	text-align:left;
}
th.sortable {
	cursor:pointer;
}
tbody{
	background:#a1a1a1;
}
td {
	padding-left:3px;
	padding-right:3px;
}
ul {
	list-style-type:none;
	padding-left:0px;
}

a img {
	border:none;
}
/* tab-control */
ul.tabs {
	display:block;
	padding-right:0px;
	margin-right:0px;
	float:none;
	padding-left:25px;

}
ul.tabs li {
	float:left;
	width:200px;
	display:inline;
	text-align:center;
	height:24px;
	background-color:#9b9b9b;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
ul.tabs li.selected {
	background-color:#fff0d6;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
ul.tabs li > a.selected {

}

div.tab {
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:40px;
	background-color:#fff0d6;
	color:#000000;
	display:block;
	float:none;
	-moz-border-radius: 5px;
}

span.pages {
	margin-left:50px;
}

div.messagebox {
	position:absolute;
	left:50%;
	margin-top: -35px;
	margin-left: -150px;
	width:300px;
	height:70px;
	top:50%;
	background-color:#9b9b9b;
	border: #000000 solid 2px;
	padding:32px;
	-moz-border-radius: 10px;
}

span.progressbar {
	width:100%;
	height:16px;
	border:#000000 solid 1px;
	background-color:#8d8d8d;
	display:block;
}
span.progressindicator {
	height:16px;
	margin-top:-1px;
	margin-left:-1px;
	border:#000000 solid 1px;
	background-color:  #fff0d6;
	display:block;
}
